<form class="detail-panel-form">
  <mat-form-field appearance="outline" class="detail-panel-widget first-widget">
    <mat-label>Full Name</mat-label>
    <input matInput placeholder="Enter the user's full name..." [(ngModel)]="user.fullName" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <mat-form-field appearance="outline" class="detail-panel-widget">
    <mat-label>Desk Name</mat-label>
    <input matInput placeholder="Enter the user's desk name..." [(ngModel)]="user.deskName" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <mat-form-field appearance="outline" class="detail-panel-widget">
    <mat-label>User ID</mat-label>
    <input matInput placeholder="Enter the user's ID..." [(ngModel)]="user.userId" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
</form>
<button class="detail-button first-widget" type="button" mat-raised-button (click)="cancel()">Cancel</button>
<button class="detail-button" type="button" mat-raised-button (click)="clear()" *ngIf="canClear()">Clear</button>
<button class="detail-button" type="button" mat-raised-button (click)="save()" *ngIf="canSave()">Save</button>






