<div>
  <app-main-header></app-main-header>
  <div class="user-detail-panel" *ngIf="isUserDetailPanelVisible()">
    <app-user-detail [user]="user" (closePanelEventEmitter)="toggleUserDetailPanelVisibility()"></app-user-detail>
  </div>
  <div class="tab-background">
    <ul class="nav nav-tabs">
      <li class="btn btn-default tab-button" *ngFor="let tab of tabs" [class.active]="tab === selectedTab" (click)="onSelect(tab)">
        <span>{{tab}}</span>
      </li>
    </ul>
  </div>

  <div class="tab-view" *ngIf="selectedTab === 'Users'">
    <app-users></app-users>
  </div>
  <div class="tab-view" *ngIf="selectedTab === 'Usage'">
    <app-usage></app-usage>
  </div>
</div>
