<div class="menu-trigger" [matMenuTriggerFor]="menu" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"></div>
<mat-menu #menu="matMenu">
  <button class="context-menu-button" mat-menu-item (click)="refreshUsage()">Refresh usage</button>
</mat-menu>
<div class="content" role="main">
  <ag-grid-angular
    style="height: 740px;"
    class="ag-theme-balham"
    [gridOptions]="usageGridOptions"
    (gridReady)="onGridReady($event)"
    (rowClicked)="displayDeskUsage($event)"
    rowSelection="single">
  </ag-grid-angular>
</div>
