<div class="menu-trigger" [matMenuTriggerFor]="menu" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"></div>
<mat-menu #menu="matMenu">
  <button class="context-menu-button" mat-menu-item (click)="refreshUsage()">Refresh usage</button>
</mat-menu>
<div class="content" role="main" style="height:740px">
  <ag-grid-angular
    style="width: 300px; height: 200px;"
    class="ag-theme-balham"
    [gridOptions]="usageGridOptions"
    [detailRowHeight]="detailRowHeight"
    [context]="context"
    [frameworkComponents]="frameworkComponents"
    (gridReady)="onGridReady($event)"
    (rowClicked)="expandOrCloseDeskUsage($event)"
    rowSelection="single">
  </ag-grid-angular>
</div>
