<div class="menu-trigger" [matMenuTriggerFor]="menu" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"></div>
<mat-menu #menu="matMenu">
  <button class="context-menu-button" mat-menu-item (click)="addUser()">Add user</button>
  <button class="context-menu-button" mat-menu-item (click)="invalidateUser()">Invalidate user</button>
  <button class="context-menu-button" mat-menu-item (click)="cloneUser()">Clone user</button>
  <button class="context-menu-button" mat-menu-item (click)="refreshUsers()">Refresh users</button>
</mat-menu>
<div class="content" role="main" style="height:740px">
  <ag-grid-angular
    style="width: 100%; height: 100%;"
    class="ag-theme-balham"
    [gridOptions]="usersGridOptions"
    (gridReady)="onGridReady($event)"
    rowSelection="single">
  </ag-grid-angular>
</div>
